body {
    background-color: skyblue;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    color: #666;
}

footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    background-color: #f3f3f3;
    margin: 5px;
    padding: 0;
    border: 1px solid #e7e7e7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ddd;
  }

  a:link {
    color: #666;
  }

  a:visited {
    color: #666;
    text-decoration: none;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }
  
  a:active {
    color: #666;
    text-decoration: none;
  }

#searchForm, #registerForm, #loginForm, #accountForm, #createAuction {
    margin-top: 25px;
    margin-bottom: 25px;
}

.error {
    border: solid 1px red;
    margin: 5px;
    padding: 5px;
    color: red;
}

.success {
  border: solid 1px green;
  margin: 5px;
  padding: 5px;
  color: green;
}

.confirm {
  margin-top: 25px;
  margin-bottom: 25px;
}